@page "/changePassword"
@using BislerieumCafe.Models;

<h3>cChangePassword</h3>
<EditForm Model="@todo">
    <label class="form-label" >Task</label>
        <input class="form-control" id="taskName" @bind-value="todo.Task"/>
    <button class="btn btn-primary" @onclick="AddTodo"> Save </button>

</EditForm>

@code {
    private List<Todo> todoList = new();
    private Todo todo = new();
    private void AddTodo()
    {
        todo.ID = todoList.Count + 1;
        todoList.Add(todo);
        todo = new();
    }
}
