@page "/changePassword"
@using BislerieumCafe.Models;

<h3>cChangePassword</h3>
<EditForm Model="@todo">
    <label class="form-label">Task</label>
        <input class="form-control" id="taskName" @bind-value="todo.Task"/>
    <button class="btn btn-primary" @onclick="AddTodo"> Save </button>
</EditForm>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Task</th>
            <th>Is Completed?</th>
            <th>Actions</th>
            <th>delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var task in todoList)
        {
          <tr>
                <td>@task.ID</td>
                <td>@task.Task</td>
                <td>@task.IsCompleted</td>
                <td> 
                    @if (!task.IsCompleted) 
                        {
                        <button @onclick="()=>CompleteTask(task.ID)">Complete</button>
                        }
                </td>
                <td>
                    <button @onclick="()=> DeleteTaks(task.ID)">Delete</button>
                    
                </td>
                <td>
                    <button @onclick="()=>EditTask(task.ID)">Edit</button>
                </td>
          </tr>  
        }
    </tbody>
</table>

@code {
    private List<Todo> todoList = new();
    private Todo todo = new();
    private void removeTodo()
    {
        todo.ID = todoList.Count - 1;
        todoList.Remove(todo);
        todo = new();
    }
    private void AddTodo()
    {
        if (todo.ID > 0)
        {
            var toEdit = todoList.Find(x => x.ID == todo.ID);
            if (toEdit != null)
                toEdit.Task = todo.Task;
        }
        else
        {
            
        todo.ID = todoList.Count + 1;//hehehhe
        todoList.Add(todo);
        }
        todo = new();
        //comments
    }
    private void CompleteTask(int taskID)
    {
        var toCompelte = todoList.Find(x => x.ID == taskID);
        if (toCompelte != null)
            toCompelte.IsCompleted = true;
    }
    private void DeleteTaks(int taskID)
    {
        var toDelete = todoList.Find(x => x.ID == taskID);
        if (toDelete != null)
            todoList.Remove(toDelete);

    }
    public void EditTask(int taskID)
    {
        var toEdit = todoList.Where(x => x.ID == taskID).FirstOrDefault();
        if (toEdit != null)
            todo = toEdit; 
    }
} 
